.home-bg {
    background: transparent; /* Обои теперь просвечивают из phone-wrapper */
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Распределение виджетов: погода аккуратнее, новости шире */
.widgets-area {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
}

.widget {
    height: 150px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
}

/* Погода стала компактнее (38%) */
.weather-wdg {
    width: 38%;
    background: #2ea3ff;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wdg-city { font-size: 16px; font-weight: 600; }
.wdg-temp { font-size: 44px; font-weight: 300; }

/* Виджет новостей стал шире (62%) */
.news-wdg {
    width: 62%;
    background-color: #000000;
}

.news-wdg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Сетка приложений */
.apps-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 12px;
}

.app-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon-shape {
    width: 62px;
    height: 62px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    overflow: hidden;
}

.icon-img-box {
    background: transparent;
    box-shadow: none;
}

.app-pure-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.icon-li { 
    background: #b000b0; 
    color: #fff; 
    font-size: 18px; 
    font-weight: 900; 
    letter-spacing: -1px;
}

.icon-st { background: #8e8e93; font-size: 28px; }

.app-label {
    color: white;
    font-size: 11px;
    margin-top: 6px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

/* Нижний Док */
.dock-container {
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.dock-wrapper {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    height: 84px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.dock-item {
    width: 58px;
    height: 58px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    cursor: pointer;
    transition: transform 0.1s;
    overflow: hidden;
}

.dock-item:active {
    transform: scale(0.92);
}

.dock-pure-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-srch { background: #e5e5ea; }
.btn-chat { background: #25d366; }
.btn-gear { background: #8e8e93; }